@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
body {
    font-family: 'Cabin', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dba8f9;
}

.header {
    background-color: #dba8f9;
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 1.5em;
    max-width: 400px;
    width: 100%;
}

.content {
    padding: 20px;
}

.input-container {
    margin-bottom: 15px;
}

.timer {
    text-align: center;
    font-size: 24px;
    color: blue;
    margin-bottom: 10px 0;
}